#bubble-chart {
  width: 830px;
  height: 900px;
  clear: both;
  margin-bottom: 0px;
  background: linear-gradient(rgba(161, 74, 123, 0.57), rgba(239, 198, 48, 0.60));
}

.change {
  font-size: 25px;
  fill: #ffffff;
  cursor: default;
  text-anchor: start;
}

.subtitle {
  font-size: 13px;
  font-family: PT Serif;
  font-style: italic;
  fill: #ffffff;
  cursor: default;
  text-anchor: start;
  background-color: #333333;
}

.change-line {
  stroke: white;
  z-index: 10;
  opacity: 0;
}

#key {
  width: 240px;
  height: 70px;
  top: 200px;
  left: 20px;
}

.key-text {
  /* since svg text fill not color */
  fill: #A14A7b;
  font-size: 12px;
  pointer-events: none;
}

.bubble-key {
  stroke: #A14A7b;
  stroke-width: 2px;
  fill: none;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .1);
	opacity: .9;
  color: black;
	padding: 10px;
	max-width: 240px;
	font-size: 12px;
  z-index: 10;
}

/* styling for tip container */

.tip-container {
	position: absolute;
	top: 100px;
	left: 100px;
  z-index: 10;
  pointer-events: none;
  width: 40px;
  height: 40px;
}

.tooltip span {
  font-family: PT Sans;
}

.entry {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

.tooltip .name {
  font-weight:bold;
}

.tooltip .link {
  font-weight:bold;
}

.tooltip_image {
  width: 90px;
  float: right;
  display: block;
  padding-right: 5px;
}

/* make responsive */

@media (max-width: 830px) {
  #bubble-chart {
    width: 100%;
    height: 850px;
  }
}

@media (max-width: 640px) {
  .footer > div { 
    display: inline-block; 
  }
  #bubble-chart {
    height: 650px;
  }
}
