#bubble-chart {
  width: 830px;
  height: 900px;
  clear: both;
  margin-bottom: 0px;
  background: linear-gradient(rgba(161, 74, 123, 0.55), rgba(239, 198, 48, 0.57));
}

.change {
  font-size: 25px;
  fill: #ffffff;
  cursor: default;
  text-anchor: start;
}

.subtitle {
  font-size: 13px;
  font-family: PT Serif;
  font-style: italic;
  fill: #ffffff;
  cursor: default;
  text-anchor: start;
  background-color: #333333;
}

.change-line {
  stroke: white;
  z-index: 10;
  opacity: 0;
}

#key {
  width: 240px;
  height: 70px;
  top: 200px;
  left: 30px;
}

#box-wrapper {
  top: 200px;
  left: 20px;
}

.change-box {
  fill-opacity: 0.18;
}

.key-text {
  /* since svg text fill not color */
  fill: #A14A7b;
  font-size: 12px;
  pointer-events: none;
}

.bubble-key {
  stroke: #A14A7b;
  stroke-width: 2px;
  fill: none;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .1);
	opacity: .9;
  color: black;
	padding: 10px;
	max-width: 240px;
	font-size: 12px;
  z-index: 10;
}

/* styling for tip container */

.tip-container {
	position: absolute;
	top: 100px;
	left: 100px;
  z-index: 10;
  pointer-events: none;
  width: 40px;
  height: 40px;
}

.tooltip span {
  font-family: PT Sans;
}

.entry {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

.tooltip .name {
  font-weight:bold;
}

.tooltip .link {
  font-weight:bold;
}

.tooltip_image {
  width: 90px;
  float: right;
  display: block;
  padding-right: 5px;
}

/* make responsive */

@media (max-width: 830px) {
  #bubble-chart {
    width: 100%;
  }

  header {
    width: calc(100% - 40px);
  }

  .footer {
    width: calc(100% - 40px);
  }
}

@media (max-width: 800px) {
  #bubble-chart {
    height: 850px;
  }
}

@media (max-width: 700px) {
  .footer > div { 
    display: inline-block; 
    padding-right: 0px;
  }
  #credit {
    width: calc(100% - 40px);
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 13px;
  }
  #bubble-chart {
    height: 750px;
  }
  .footer {
    height: 180px;
  }
  .tooltip {
    max-width: 220px;
  }
  .tooltip_image {
    width: 80px;
  }
  p {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .footer > div { 
    display: inline-block; 
  }
  #bubble-chart {
    height: 700px;
  }
  h1 {
    font-size: 27px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 12.5px;
  }
  .footer {
    height: 160px;
  }
  .tooltip {
    max-width: 200px;
  }
  .tooltip_image {
    width: 60px;
  }
  p {
    font-size: 11.5px;
  }
  #cb-logo {
    background-size: 120px;
  }
}

@media (max-width: 550px) {
  #bubble-chart {
    height: 600px;
  }
}

@media (max-width: 450px) {
  p {
    font-size: 11px;
  }
  .tooltip {
    max-width: 180px;
  }
  .tooltip_image {
    width: 50px;
  }
  #bubble-chart {
    height: 500px;
  }
}
