#bubble-chart {
  width: 830px;
  height: 1200px;
  clear: both;
  margin-bottom: 0px;
  background: linear-gradient(rgba(161, 74, 123, 0.5), rgba(239, 198, 48, 0.5));
}

.year {
  font-size: 21px;
  fill: #ffffff;
  cursor: default;
  text-anchor: start;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	max-width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
  font-size: 13px;
}

.tooltip span {
  font-family: PT Sans;
}

.tooltip .name {
  font-weight:bold;
}

/* make responsive */

@media (max-width: 830px) {
  #bubble-chart {
    width: 100%;
    height: 700px;
  }
}

@media (max-width: 640px) {
  .footer > div { 
    display: inline-block; 
  }
  #bubble-chart {
    height: 650px;
  }
}
