#bubble-chart {
  width: 830px;
  height: 1050px;
  clear: both;
  margin-bottom: 0px;
  background: linear-gradient(rgba(161, 74, 123, 0.55), rgba(239, 198, 48, 0.55));
}

.year {
  font-size: 25px;
  fill: #ffffff;
  cursor: default;
  text-anchor: start;
}

.subtitle {
  font-size: 13px;
  font-family: PT Serif;
  font-style: italic;
  fill: #ffffff;
  cursor: default;
  text-anchor: start;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	max-width: 260px;
	font-size: 12px;
  z-index: 10;
}

.polygon-tip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:2px;
	border-radius: 2px;
  background: #fff;
  z-index: 10;
  width: 30px;
  height: 30px;
}

.tooltip span {
  font-family: PT Sans;
}

.entry {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

.tooltip .name {
  font-weight:bold;
}

.tooltip .link {
  font-weight:bold;
}

.tooltip_image {
  width: 90px;
  float: right;
  display: block;
  padding-right: 5px;
}

/* make responsive */

@media (max-width: 830px) {
  #bubble-chart {
    width: 100%;
    height: 700px;
  }
}

@media (max-width: 640px) {
  .footer > div { 
    display: inline-block; 
  }
  #bubble-chart {
    height: 650px;
  }
}
