/* main html elements */

p {
    font-family: PT Sans;
}
  
strong {
font-family: PT Sans;
font-weight: bold;
}

h1 {
font-family: PT Sans Narrow;
font-weight: normal;
font-size: 35px;
color: #77395e;
margin-bottom: 5px;
}

h2 {
    color: #77395e;
    font-family: PT Serif;
    font-weight: normal;
    font-size: 18px;
}

h3 {
font-family: PT Sans Narrow;
font-weight: bold;
font-size: 22px;
margin-bottom: 5px;
margin-top: 0px;
}

h4 {
    font-family: PT Serif;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 0px;
}

a {
font-family: PT Sans;
}

a, a:visited, a:active {
    color: #A14A7b;
}

a:hover {
    color: #77395e;
}

header {
    background-color: rgba(161, 74, 123, 0.55);
    width: inherit;
    padding: 20px;
    padding-bottom: 10px;
    width: 790px;
}

/* specific html classes */
  
.container {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; 
    /* larger right margin to allow more space for tooltip */
}

#toolbar {
    margin-top: 15px;
    margin-bottom: 0px;
    opacity: 0;
}

.button {
min-width: 130px;
padding: 4px 5px;
cursor: pointer;
text-align: center;
font-size: 13px;
border: 1px solid #e0e0e0;
text-decoration: none;
}

.button.active {
background: #A14A7b;
color: #fff;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://s3-eu-west-1.amazonaws.com/cbbranding/new+folder/arrow-for-map.png) 96% / 15% no-repeat rgba(255, 255, 255, 0.5);
    background-size: 20px 13px;
    border:0px;
    border-radius: 4px;
    outline:0px;
    width: 130px;
    font-family: "PT Sans", Arial; 
    font-weight:bold;
    color: #77395e;
    padding:2px; 
    -webkit-box-shadow: 2px 2px 6px rgba(102,102,102,0.2);
    -moz-box-shadow: 2px 2px 6px rgba(102,102,102,0.2);
    box-shadow: 2px 2px 6px rgba(102,102,102,0.2);
}

.footer {
    text-align: left;
    vertical-align: top;
    height: 130px;
    margin-top: 0px;
    background-color: rgba(239, 198, 48, 0.65);
    width: 790px;
    padding: 20px;
}
  
.footer > div { 
    display: table-cell; 
    height: 80px;
    padding-right: 20px;
}
  
#credit {
    height: 140px;
}

.footer p {
    color: #b77408;
}


/* Need to add this to folder */

#cb-logo {
    z-index: 9000;
    height: 80px;
    width: 150px;
    background-image:url(../img/cb-logo.png);
    background-size: 150px;
    image-rendering: crisp-edges;
    background-repeat: no-repeat;
    vertical-align: bottom;
  }